<div class="columns">
  <div class="column is-8 is-centered">

    <%= simple_form_for @computer, html: { multipart: true } do |f| %>
      <%= f.error_notification %>

        <div class="columns">

          <div class="field column is-9">
            <div class="control">
              <%= f.input :title , required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

          <div class="field column">
            <div class="control">
              <%= f.input :price, required: true, input_html: { class:"input", maxlength: 7  }, wrapper: false, label_html: { class:"label" } %>
            </div>
          </div>

        </div>

      

        <div class="field">
          <div class="control">
            <%= f.input :description, required: true, input_html: { class:"textarea" }, wrapper: false, label_html: { class:"label" } %>
          </div>
        </div>

        <div class="columns">
          <div class="field column is-4">
            <div class="control">
              <label class="label">CPU</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :central_processing_unit, collection: Computer::CPU, prompt: "Select CPU" %>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-tag"></i>
                </span>
              </div>
            </div>
           </div>

          <div class="field column is-4">
            <div class="control">
              <label class="label">Finish</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :finish, collection: Computer::FINISH, prompt: "Select finish" %>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-paint-brush"></i>
                </span>
              </div>
            </div>
           </div>

          <div class="field column is-4">
            <div class="control">
              <label class="label">GPU</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :grpahics_card, collection: Computer::GPU, prompt: "Select GPU" %>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-paint-brush"></i>
                </span>
              </div>
            </div>
           </div>
         </div>

         <div class="field column is-4">
            <div class="control">
              <label class="label">Case</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :case, collection: Computer::CASE, prompt: "Select Case" %>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-paint-brush"></i>
                </span>
              </div>
            </div>
           </div>
           

           <div class="field column is-4">
            <div class="control">
              <label class="label">MotherBoard</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :motherboard, collection: Computer::MOTHERBOARD, prompt: "Select Motherboard" %>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-paint-brush"></i>
                </span>
              </div>
            </div>
           </div>

           <div class="field column is-4">
            <div class="control">
              <label class="label">Power Supply</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :power_supply, collection: Computer::POWERSUPPLY, prompt: "Select finish" %>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-paint-brush"></i>
                </span>
              </div>
            </div>
           </div>

           <div class="field column is-4">
            <div class="control">
              <label class="label">Memory</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :memory, collection: Computer::MEMORY, prompt: "Select memory" %>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-paint-brush"></i>
                </span>
              </div>
            </div>
           </div>

           <div class="field column is-4">
            <div class="control">
              <label class="label">Storage</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :hard_drive, collection: Computer::HARDDRIVE, prompt: "Select storage" %>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-paint-brush"></i>
                </span>
              </div>
            </div>
           </div>

      

        <div class="field">
          <div class="control">
            <label class="label">Add images</label>
              <div class="file">
              <label class="file-label">
                <%= f.input :image, as: :file, input_html: { class:"file-input computer-image" }, label: false, wrapper: false %>
                  <span class="file-cta">
                    <span class="file-icon"><i class="fa fa-upload"></i></span>
                    <span class="file-label">Choose a file…</span>
                  </span>
              </label>
              </div>
            </div>
          </div>
          <output id="list"></output>
        <hr />

        <div class="field is-grouped">
          <div class="control">
            <%= f.button :submit, class: 'button is-warning' %>
            <%= link_to 'Cancel', computers_path, class:'button is-light' %>
          </div>
        </div>

      <% end %>
  </div>
</div>





<!--OLD FORM BEFORE UPDATE REMOVED MODEL FROM OPTIONS>
  <div class="field">
          <div class="control">
            <%#= f.input :model, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" } %>
          </div>
        </div-->