<p id="notice"><%= notice %></p>

<h1>Computers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th>Finish</th>
      <th>Case</th>
      <th>Motherboard</th>
      <th>Power supply</th>
      <th>Grpahics card</th>
      <th>Cpu</th>
      <th>Ram</th>
      <th>Hardrive</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computers.each do |computer| %>
      <tr>
        <td><%= computer.title %></td>
        <td><%= computer.price %></td>
        <td><%= computer.description %></td>
        <td><%= computer.finish %></td>
        <td><%= computer.case %></td>
        <td><%= computer.motherboard %></td>
        <td><%= computer.power_supply %></td>
        <td><%= computer.grpahics_card %></td>
        <td><%= computer.cpu %></td>
        <td><%= computer.ram %></td>
        <td><%= computer.hardrive %></td>
        <td><%= link_to 'Show', computer %></td>
        <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
        <td><%= link_to 'Destroy', computer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Computer', new_computer_path %>
