<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @computer.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @computer.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @computer.description %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @computer.finish %>
</p>

<p>
  <strong>Case:</strong>
  <%= @computer.case %>
</p>

<p>
  <strong>Motherboard:</strong>
  <%= @computer.motherboard %>
</p>

<p>
  <strong>Power supply:</strong>
  <%= @computer.power_supply %>
</p>

<p>
  <strong>Grpahics card:</strong>
  <%= @computer.grpahics_card %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @computer.central_processing_unit %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @computer.memory %>
</p>

<p>
  <strong>Hardrive:</strong>
  <%= @computer.hard_drive %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
